In [149]:
# read web table into pandas DF
import pandas as pd

co2Link='https://docs.google.com/spreadsheets/d/e/2PACX-1vRXjfxeKHQBBCh_oHP-D6RIHEX4eduLjydHb6ZGsU4jo0IK0KKQSoYX_X1FGssC_9hnqCgjKN0K4AVf/pub?gid=775098192&single=true&output=csv'
carbon=pd.read_csv(co2Link)

In [150]:
# here it is:
carbon

,name,metric tonnes of CO2,date_of_information,ranking,region
0,China,1.219600e+10,2023,1,East and Southeast Asia
1,United States,4.795000e+09,2023,2,North America
2,India,2.821000e+09,2023,3,South Asia
3,Russia,1.844000e+09,2023,4,Central Asia
4,Japan,9.602300e+08,2023,5,East and Southeast Asia
...,...,...,...,...,...
211,Falkland Islands (Islas Malvinas),3.600000e+01,2023,212,South America
212,Montserrat,2.400000e+01,2023,213,Central America and the Caribbean
213,Antarctica,1.500000e+01,2023,214,Antarctica
214,"Saint Helena, Ascension, and Tristan da Cunha",1.200000e+01,2023,215,Africa
215,Niue,9.000000e+00,2023,216,Australia and Oceania

In [151]:
# also
carbon.columns

Index(['name', 'metric tonnes of CO2', 'date_of_information', 'ranking',
       'region'],
      dtype='object')

In [152]:
# Like this
carbon.rename(columns={'metric tonnes of CO2':'metric_tonnes_of_CO2'},inplace=True)

# see
carbon.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 216 entries, 0 to 215
Data columns (total 5 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   name                  216 non-null    object
 1   metric_tonnes_of_CO2  216 non-null    float64
 2   date_of_information   216 non-null    int64
 3   ranking               216 non-null    int64
 4   region                216 non-null    object
dtypes: float64(1), int64(2), object(2)
memory usage: 8.6+ KB

In [153]:
carbon_copy=carbon.copy()

## Questions

Complete the tasks requested using **carbon_copy**:

1. Keep all the columns but _Ranking_:
    * Tip: use [drop](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.drop.html), [loc](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.loc.html), and [iloc](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.iloc.html) for the same purpose (three ways to accomplish the task).

2. Find the country with the minimum CO2 emission in the world.

3. Find the country with the minimum CO2 emission per Region.

4. Create a new column by keeping the square root of the the original CO2  column.

5. Compute the average of CO2. Then, create a new column. This new column is
the original CO2 minus the average computed.

You have changed **carbon_copy**, now save it as a file like this:

##ResoluciÃ³n

###Task 1

In [154]:
# Primero guardas todas la columnas menos ranking
carbon_copy.drop(columns=['ranking'],inplace=True)
#drop para eliminar la columna y el inplace para sobreescribir en el dataframe carbon_copy

carbon_copy
#llamamos al dataframe

,name,metric_tonnes_of_CO2,date_of_information,region
0,China,1.219600e+10,2023,East and Southeast Asia
1,United States,4.795000e+09,2023,North America
2,India,2.821000e+09,2023,South Asia
3,Russia,1.844000e+09,2023,Central Asia
4,Japan,9.602300e+08,2023,East and Southeast Asia
...,...,...,...,...
211,Falkland Islands (Islas Malvinas),3.600000e+01,2023,South America
212,Montserrat,2.400000e+01,2023,Central America and the Caribbean
213,Antarctica,1.500000e+01,2023,Antarctica
214,"Saint Helena, Ascension, and Tristan da Cunha",1.200000e+01,2023,Africa
215,Niue,9.000000e+00,2023,Australia and Oceania

###Task 2

In [155]:
#Utilizamos la funciÃ³n min y especificamos que solo necesitamos el nombre (lista name)
carbon_copy[carbon_copy.metric_tonnes_of_CO2==min(carbon_copy.metric_tonnes_of_CO2)]['name']

215    Niue
Name: name, dtype: object

###Task 3

In [156]:
carbon_copy['region'].unique()

array(['East and Southeast Asia', 'North America', 'South Asia',
       'Central Asia', 'Middle East', 'Europe', 'Africa', 'South America',
       'Australia and Oceania', 'Central America and the Caribbean',
       'Antarctica'], dtype=object)

In [157]:
#Creamos un nuevo data frame para cada una de las regiones

c1=carbon_copy[carbon_copy.region=='East and Southeast Asia']
c2=carbon_copy[carbon_copy.region=='North America']
c3=carbon_copy[carbon_copy.region=='South Asia']
c4=carbon_copy[carbon_copy.region=='Central Asia']
c5=carbon_copy[carbon_copy.region=='Middle East']
c6=carbon_copy[carbon_copy.region=='Europe']
c7=carbon_copy[carbon_copy.region=='Africa']
c8=carbon_copy[carbon_copy.region=='South America']
c9=carbon_copy[carbon_copy.region=='Australia and Oceania']
c10=carbon_copy[carbon_copy.region=='Central America and the Caribbean']
c11=carbon_copy[carbon_copy.region=='Antarctica']

#Ahora unicamente llamamos al menor valor de cada regiÃ³n

In [158]:
c1[c1.metric_tonnes_of_CO2==c1.metric_tonnes_of_CO2.min()]['name']

184    Timor-Leste
Name: name, dtype: object

In [159]:
c2[c2.metric_tonnes_of_CO2==c2.metric_tonnes_of_CO2.min()]['name']

210    Saint Pierre and Miquelon
Name: name, dtype: object

In [160]:
c3[c3.metric_tonnes_of_CO2==c3.metric_tonnes_of_CO2.min()]['name']

177    Bhutan
Name: name, dtype: object

In [161]:
c4[c4.metric_tonnes_of_CO2==c4.metric_tonnes_of_CO2.min()]['name']

121    Armenia
Name: name, dtype: object

In [162]:
c5[c5.metric_tonnes_of_CO2==c5.metric_tonnes_of_CO2.min()]['name']

141    Gaza Strip
142     West Bank
Name: name, dtype: object

In [163]:
c6[c6.metric_tonnes_of_CO2==c6.metric_tonnes_of_CO2.min()]['name']

175    Faroe Islands
Name: name, dtype: object

In [164]:
c7[c7.metric_tonnes_of_CO2==c7.metric_tonnes_of_CO2.min()]['name']

214    Saint Helena, Ascension, and Tristan da Cunha
Name: name, dtype: object

In [165]:
c8[c8.metric_tonnes_of_CO2==c8.metric_tonnes_of_CO2.min()]['name']

211    Falkland Islands (Islas Malvinas)
Name: name, dtype: object

In [166]:
c9[c9.metric_tonnes_of_CO2==c9.metric_tonnes_of_CO2.min()]['name']

215    Niue
Name: name, dtype: object

In [167]:
c10[c10.metric_tonnes_of_CO2==c10.metric_tonnes_of_CO2.min()]['name']

212    Montserrat
Name: name, dtype: object

In [168]:
c11[c11.metric_tonnes_of_CO2==c11.metric_tonnes_of_CO2.min()]['name']

213    Antarctica
Name: name, dtype: object

###Task 4

In [169]:
#Creamos una lista con los valores de la raiz

root=carbon_copy.metric_tonnes_of_CO2.apply(lambda x:x**0.5)

root

0      110435.501538
1       69245.938509
2       53113.086900
3       42941.821107
4       30987.578156
           ...
211         6.000000
212         4.898979
213         3.872983
214         3.464102
215         3.000000
Name: metric_tonnes_of_CO2, Length: 216, dtype: float64

In [170]:
#Esa lista la aÃ±adimos a nuestro dataframe carbo_copy

carbon_copy=carbon_copy.assign(root_metric_tonnes_of_CO2 =root)

carbon_copy

,name,metric_tonnes_of_CO2,date_of_information,region,root_metric_tonnes_of_CO2
0,China,1.219600e+10,2023,East and Southeast Asia,110435.501538
1,United States,4.795000e+09,2023,North America,69245.938509
2,India,2.821000e+09,2023,South Asia,53113.086900
3,Russia,1.844000e+09,2023,Central Asia,42941.821107
4,Japan,9.602300e+08,2023,East and Southeast Asia,30987.578156
...,...,...,...,...,...
211,Falkland Islands (Islas Malvinas),3.600000e+01,2023,South America,6.000000
212,Montserrat,2.400000e+01,2023,Central America and the Caribbean,4.898979
213,Antarctica,1.500000e+01,2023,Antarctica,3.872983
214,"Saint Helena, Ascension, and Tristan da Cunha",1.200000e+01,2023,Africa,3.464102
215,Niue,9.000000e+00,2023,Australia and Oceania,3.000000

###Task 5

In [171]:
#Primero hallamos el promedio de la emisiones de CO2

promedio_CO2=carbon_copy['metric_tonnes_of_CO2'].mean()

#Ahora creamos una nueva columna entre la diferencias de los valores de metric_tonnes_of_CO2 con el promedio hallado

carbon_copy['difference_from_average']=carbon_copy['metric_tonnes_of_CO2']-promedio_CO2

carbon_copy

,name,metric_tonnes_of_CO2,date_of_information,region,root_metric_tonnes_of_CO2,difference_from_average
0,China,1.219600e+10,2023,East and Southeast Asia,110435.501538,1.202444e+10
1,United States,4.795000e+09,2023,North America,69245.938509,4.623435e+09
2,India,2.821000e+09,2023,South Asia,53113.086900,2.649435e+09
3,Russia,1.844000e+09,2023,Central Asia,42941.821107,1.672435e+09
4,Japan,9.602300e+08,2023,East and Southeast Asia,30987.578156,7.886654e+08
...,...,...,...,...,...,...
211,Falkland Islands (Islas Malvinas),3.600000e+01,2023,South America,6.000000,-1.715645e+08
212,Montserrat,2.400000e+01,2023,Central America and the Caribbean,4.898979,-1.715645e+08
213,Antarctica,1.500000e+01,2023,Antarctica,3.872983,-1.715645e+08
214,"Saint Helena, Ascension, and Tristan da Cunha",1.200000e+01,2023,Africa,3.464102,-1.715646e+08
215,Niue,9.000000e+00,2023,Australia and Oceania,3.000000,-1.715646e+08

In [172]:
# carbon_copy.to_csv("carbon_copy.csv",index=False)